div {
    // .container {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     height: 100vh;
    // }

    .logo,
    .login {
        flex: 1;
    }

    .logo {
        padding: 0 50px;

        img {
            width: 100%;
            justify-content: center;
        }
    }

    .line {
        border-right: 2px solid gray;
    }

    .login {
        padding: 0 50px;
        text-align: center;

        .login_Text {
            font-size: 64px;
        }

        .account {
            padding: 20px 0;
        }

        .password {
            padding: 0 0 20px 0;
        }

        .login_BTN {
            button {
                position: relative;
                background-color: rgb(230, 34, 77);
                border-radius: 5px;
                box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
                padding: 15px;
                background-repeat: no-repeat;
                cursor: pointer;
                box-sizing: border-box;
                width: 154px;
                height: 49px;
                color: #fff;
                border: none;
                font-size: 20px;
                transition: all 0.3s ease-in-out;
                z-index: 1;
                overflow: hidden;
                &::before {
                    content: "";
                    background-color: rgb(248, 50, 93);
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 700ms ease-in-out;
                    display: inline-block;
                }
    
                &:hover::before {
                    width: 100%;
                }
            }
        }
    }

}