div {
    .Sidebar {
        height: 100vh;
        width: 350px;
        background-color: #f8f9fa;
        transition: width 0.3s ease, border-width 0.3s ease;
        border-right: 3px solid black;

        .sidebar-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            img {
                width: 100%;
                transition: width 0.3s ease;
                cursor: pointer;
            }
        }

        .sidebar-body {
            .sidebar-menu {
                list-style-type: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    padding: 15px 20px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover,
                    &.selected {
                        background-color: #e2e6ea;
                        border-radius: 10px;
                    }

                    svg {
                        font-size: 24px;
                    }

                    span {
                        margin-left: 10px;
                        transition: opacity 0.3s ease;
                        opacity: 1;
                    }
                }
            }
        }

        .sidebar-footer {
            position: absolute;
            bottom: 20px;
            width: 100%;
            
            .user {
                padding: 0;
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;
                    padding: 15px 20px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }

                &:hover,
                &.selected {
                    background-color: #e2e6ea;
                    border-radius: 10px;
                }

                svg {
                    font-size: 24px;
                }

                span {
                    margin-left: 10px;
                    transition: opacity 0.3s ease;
                    opacity: 1;
                }
            }
        }
    }

    // &-closed {
    //     width: 465px;
    // }

    // 側欄設計
    .sidebar-menu li.selected,
    .user li.selected {
        border: 2px solid #000;
        border-radius: 25px;
    }
    .sidebar-menu li span,
    .user li span {
        margin-left: 10px;
    }
}